.tableContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    max-height: 500px;
    overflow-y: auto;
    table {
        border-collapse: separate;
        width: 100%;
        border-spacing: 0 0.5rem;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #FCFCFC;
        thead {
            color: #797979;
            tr {
                background-color: white;
                cursor: auto;
                &:hover {
                    background-color: white;
                }       
            } 
            th {
                text-align: start;
            }
            
        }
        tbody {

            tr {
                background-color: rgb(21, 73, 122);;
                cursor: pointer;
                height: 20px;
                td {
                    padding: 0px 9px;
                    background: inherit;
                    &:first-child {
                        border-top-left-radius: 6px;
                        border-bottom-left-radius: 6px;
                        width: 50%;
                        
                    }
                    &:last-child {
                        border-top-right-radius: 6px;
                        border-bottom-right-radius: 6px;
                        
                    }
                    
                }
                &:hover {
                    background-color: rgb(31, 49, 66);;
                }
            }
        }
        .sectorsHeader {
            width: 25%;
        }
        
    }
}